body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #232624;
  align-items: center;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.top-bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 0 16px;
  height: 50px;
}
.account{
  cursor: pointer;
}
.nav-left {
  display: flex;
  color: white;
  cursor: pointer;
  width: 70px;
  margin: 0;
}

.title {
  color: white;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}

.nav-right {
  display: flex;
  justify-content: flex-end;
  width: 70px;
  justify-content: center;
  align-items: center;
}

.b-b-blue{
  border-bottom: 2px solid #737270;
}

.login-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 400px;
  margin: 0px auto;
}

.login-container h1 {
  color: white;
  font-size: 30px;
  text-align: center;
  border-bottom: 1px solid #737270;
  width: 100%;
  padding-bottom: 10;
}

.login-form{
  display: flex;
  flex-direction: column;
  width: 100%;
}

input[type=text], input[type=password], input[type=email] {
  display: flex;
  height: 25px;
  width: 100%;
  margin: 0;
  padding: 0.6em 0.7em;
  border: 1px solid grey;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-container{
  padding: 4px 0px;
}

input[type=submit]{
  margin-top: 4px;
  width: 50%;
}

#gamespace {
  display: flex;
  flex-direction: column;
  padding: 0;
}

#game-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  align-items: baseline;
  overflow: hidden;
  height: 100%;
}

.board-container {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.board-title {
    font-weight: bold;
    color: white;
}
.key {
  text-transform: uppercase;
  margin: 0;
  padding: 10px;
  cursor: pointer;
  background-color: #232624;
  color: white;
}
#keyboard > button{
  text-transform: uppercase;
  padding: 10px;
  position: relative;
  display: inline-block;
  min-width: 300px;
  grid-template-rows: repeat(3, 30px);
  background-color: black;
  bottom: 0px;
}

.board {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: .5em;
  padding: 1em;
  height: 420px;
  width: 350px;
}

.game-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: .5em;
  padding-left: .5em;
}

.guess-box {
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: white;
  display: inline-flex;
  border: 2px solid #61f50c;
  border-radius: 3px;
  width: 100%;
  height: 100%;
}
.guest-box {
  display: inline-flex;
  border: 2px solid #f50c0c;
  border-radius: 3px;
  width: 100%;
  height: 100%;
}

.l-border {
  border-left: solid 2px #737270;
}

#container {
  position: absolute;
  top: 25%;
  left: 25%;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.card-background {
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 50%;
}

.card {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 50%;
  top: 50px;
  background: white;
  opacity: 100% !important;
}
#submit{
  cursor: pointer;
}
#close-btn{
  cursor: pointer;
  background: none;
  position: absolute;
  border-style: none;
  top: 2%;
  right: 1%;
  width: 10px;
  height: 10px;
}

.hidden{
  display: none;
}

.show {
  visibility: visible;
}

.no-show {
  visibility: hidden;
}

.status_window{
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.status_content{
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close{
  color: #aaa;
  background-color: #fefefe;
  float: right;
  font-size: 28px;
  font-weight: bold;
  border-style:none;
}

.close:hover, .close:focus{
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.correct{
  background-color: green;
}

.notQuite {
  background-color: #c9b458;
}

.error {
  background-color: red;
}